[submodule "config/nvim/pack/plugins/start/lazy.nvim"]
	path = config/nvim/pack/plugins/start/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "config/nvim/pack/plugins/start/catppuccin"]
	path = config/nvim/pack/plugins/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "config/nvim/pack/plugins/start/telescope"]
	path = config/nvim/pack/plugins/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "config/nvim/pack/plugins/start/plenary"]
	path = config/nvim/pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "config/nvim/pack/plugins/start/mason"]
	path = config/nvim/pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim.git
