---
- name: Configure macOS system
  tasks:
    - name: Install Homebrew if not present
      block:
        - name: Check if Homebrew is installed
          command: brew --version
          register: brew_check
          failed_when: false
          changed_when: false
        
        - name: Install Homebrew
          shell: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          when: brew_check.rc != 0
          become: false
        
        - name: Add Homebrew to PATH
          shell: eval "$(/opt/homebrew/bin/brew shellenv)"
          args:
            executable: /bin/zsh
          when: brew_check.rc != 0
      
      tags: homebrew
    
    - name: Install macOS packages via Homebrew
      homebrew:
        name:
          - zoxide
          - fzf
          - fd
          - ripgrep
          - pyenv
          - neovim
          - jandedobbeleer/oh-my-posh/oh-my-posh
        state: present
      tags: packages
    
    - name: Install macOS applications via Homebrew
      homebrew_cask:
        name:
          - ghostty
        state: present
      tags: applications
    
    - name: Install Oh My Zsh if not present
      block:
        - name: Check if Oh My Zsh is installed
          stat:
            path: "{{ home_dir }}/.oh-my-zsh"
          register: omz_check
        
        - name: Install Oh My Zsh
          shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
          when: not omz_check.stat.exists
          become: false
      tags: oh-my-zsh
